[user]
  name = tk-sugar
	email = takuma.sato@jmty.jp
[core]
  pager = less -r
  editor = vim
  whitespace = off
  excludesfile = ~/.gitignore
[advice]
  statusuoption = false
[color]
  ui = true
[push]
  default = current
[pull]
  rebase = true
[alias]
  cfg = config --global
  ci = commit
  p = push
  pl = pull
  b = branch
  co = checkout
  m = merge
  df = diff
  st = status
  fe = fetch --all -p
  rsh = reset --hard
  g = grep
    # show graph
  lo = log --oneline
  lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %Cred%d%Creset'
  lga = log --graph --all --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %Cred%d%Creset'
    # diff
  dc = diff --cached
  vimdiff = difftool --tool=vimdiff --no-prompt
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
[init]
	templatedir = ~/.git_template
[core]
  excludesfile = /Users/takuma.sato/.gitignore_global
